name: Build & Test Docker Image

on:
  push:
    branches:
      - main
      - exp/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t resilient-api:ci-cd ./api

      - name: Run container
        run: |
          docker run -d --name test_container -p 5000:5000 resilient-api:ci-cd
          sleep 5  # espera que se levante

      - name: Run smoke test
        run: |
          pip install requests
          python api/test_app.py

      - name: Cleanup
        run: docker rm -f test_container
