name: Build Docker Image

# Se ejecuta cuando alguien hace push a main o a cualquier rama
on:
  push:
    branches:
      - main
      - exp/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Descargar el repositorio
      - uses: actions/checkout@v3

      # Paso 2: Configurar Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # Paso 3: Construir la imagen
      - name: Build Docker image
        run: docker build -t resilient-api:ci-cd ./api

      # Paso 4: Opcional: verificar que app.py funciona
      - name: Test container
        run: |
          docker run --rm resilient-api:ci-cd curl -f http://localhost:5000 || exit 1
